<section id="mainsection">
	<!-- Page content-->
	<div class="content-wrapper">

		<div>
			<div class="container-fluid">

				<div id="childcontent">
					<h1 class="page-header">HOLA FROM THE SECOND PAGE</h1>
				</div>

			</div>

		</div>

	</div>
</section>
