<div class="setting-color">
	<label data-load-css$="http://localhost/oab/Content/app/css/theme-[[theme]].css">
		<input type="radio" name="setting-theme">

		<i class="active-theme fa fa-check-circle" aria-hidden="true"></i>

		<div class="split">
			<span class$="color bg-[[theme]]-dark"></span>
			<span class$="color bg-[[theme]]"></span>
		</div>

		<span class$="color bg-[[theme]]-menu"></span>
	</label>
</div>
