<div class="wrapper" w-bind>
    <!-- header -->
    <app-header user="${data.user}" />
    <!-- sidebar -->
    <!-- <app-sidebar /> -->
    <!-- offsidebar -->
    <!-- <settings-sidebar class="hidden"/> -->
    <!-- Main section-->
    <!-- <main-content /> -->
</div>
